body {
    background-color: rgb(34, 34, 34);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

div {
}

.outerDiv {
    display: none;
    background-color: #f3f2f2;
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=#d3d3d3ff&noise=626262&density=67&opacity=16);

}
.innerDiv {
    background-color: rgb(182, 175, 175);
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=c4c2c2ff&noise=737373&density=77&opacity=18);
    padding: 5%;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: auto;
}
#beginningPhaseBasicInner, #precombatMainPhaseBasicInner, #combatPhaseBasicInner, #postcombatMainPhaseBasicInner, #endPhaseBasicInner {
    padding: 0%;
    padding-bottom: 10px;
    background-color: unset;
    background-image: unset;
}

button {
    float: right;
    font-size: large;
}

h2 {
    margin: 0px;
}

#header {
    color: white;
}